ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #120005;
}
li {
  /* this shows where the headbar will be on the screen */
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}
body{
background-color:#BA9800;
  color: #220080
  
}
img{
  width=100%
}
